NODE_ENV=development
API_HOST=localhost
API_PORT=3000
APPLICATION_KEYS=ATM
LOGGING_LEVEL=silly
POSTGRES_USER=atm
POSTGRES_DATABASE=atm
POSTGRES_HOST=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
SWAGGER_UI_URL=http://localhost:4000
NODE_CONFIG_DIR=./app/config
